* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 2100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .container_header {  
    height: 40px;
 }

 .container_footer {
    height: 35px;
    align-items: flex-end;
    border-top: 1px solid beige;
 }

.container_main {
    height: 150px;
}

.container_main2 {
    height: 300px;
}


.row_header {
    width: 80%;
    height: 70%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;  
}

.row_main {
    width: 60%;
}

#row_main2 {
    height: 95%;
    width: 60%;
}

#row_footer {
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 60%;
}
.bg_sky {
    background-color: aqua;
}

.bg_yellow {
    background-color: yellow;
}

.bg_blue {
    background-color: blue;

}

.bg_darkpink {
    background-color: palevioletred;.
}

.bg_white {
    background-color: white;
}
.bg_pink {
    background-color: pink;
}

.bg_green {
    background-color: green;
}

.bg_grey {
    background-color: grey;
}

.bg_black {
    background-color: black;
}

.col25 {
    width: calc(25%);
    border: 1px dotted black
}

.col50 {
    width: calc(50%);   
    border: 1px dotted black 
}

.col66 {
    width: 66%;
    border: 1px dotted black;
}

.col33 {
    width: calc(100% / 3) ;
    border: 1px dotted black;
}

.col100 {
    width: 100%;
    border: 1px dotted black;
}

.col18 {
    width: 18%;
    border: 1px dotted black;
}

.col28 {
    width: 28%;
    border: 1px dotted black;
}

.col_footer {
    height: 50%;
    width: 5%;
    border: 1px dotted black;
}

.text {
    font-size: 8px;
    text-align: center;
    font-weight: bolder;
}